<style>
    .navbar-nav .nav-item {
        border-right: 1px solid rgba(255, 255, 255, 0.5); /* Light border */
    }

    .navbar-nav .nav-item:last-child {
        border-right: none; /* Remove border from the last item */
    }

    .nav-link {
        padding: 15px 20px; /* Adjust padding for better spacing */
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Grafindo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" id="scan-do-nav">
                <a class="nav-link" href="/index.html">Scan Do</a>
            </li>
            <li class="nav-item" id="semua-do-nav">
                <a class="nav-link" href="/pages/semua_do">Semua Do</a>
            </li>
            <li class="nav-item" id="penyerahan-barang-nav">
                <a class="nav-link" href="/pages/penyerahan_barang/index.html">Penyerahan Barang</a>
            </li>
             <li class="nav-item" id="input-excel-nav">
                <a class="nav-link" href="/pages/data_barang">Data Barang</a>
            </li>
            <li class="nav-item" id="input-excel-nav">
                <a class="nav-link" href="/pages/input_excel/">Input Excel Do</a>
            </li>
            <li class="nav-item " id="kartu-stok-nav">
                <a class="nav-link" href="/pages/kartu_stok">kartu stok</a>
            </li>
            <li class="nav-item" id="input-excel-nav">
                <a class="nav-link" href="/pages/kartu_stok/per_barang">Kartu stok perbarang</a>
            </li>
            <li class="nav-item" id="input-excel-nav">
                <a class="nav-link" href="/pages/report">Report Detail</a>
            </li>
            
        </ul>
    </div>
</nav>

<script>
    // Fungsi untuk menambahkan kelas active pada item navigasi yang sesuai
    function setActiveNav() {
        const currentPath = window.location.pathname; // Mendapatkan path saat ini
        const navItems = document.querySelectorAll('.nav-item');

        navItems.forEach(item => {
            const link = item.querySelector('a');
            if (link.href.includes(currentPath)) {
                item.classList.add('active'); // Menambahkan kelas active
            } else {
                item.classList.remove('active'); // Menghapus kelas active jika tidak sesuai
            }
        });
    }

    // Memanggil fungsi saat halaman dimuat
    document.addEventListener('DOMContentLoaded', setActiveNav);
</script>